<div class="container">
  <p>
    <strong>User:</strong>
    <%= @link.user.email %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= link_to @link.url, @link.url, target: "_blank" %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @link.title %>
  </p>

  <% if @link.user == current_user %>
    <%= link_to 'Edit', edit_link_path(@link) %> |
  <% end %>
  <%= link_to 'Back', links_path %>
</div>